@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --dark: #0d1321;
    --red: #ff4d6d;
    --green: limegreen;
    --light: #f7ede2;
    --yellow: #ffd166;
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark);
    color: var(--light);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
}
main, .notes {
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.notes {
    gap: 15px;
    align-items: center;
}
button {
    display: flex;
    align-items: center;
    justify-self: center;
    min-width: 20px;
    min-height: 20px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.complete {
    border-color: var(--green);
}
.complete:hover {
    background-color: var(--green);
}
.delete {
    border-color: var(--red);
}
.delete:hover {
    background-color: var(--red);
}
.enter {
    color: var(--green);
    cursor: pointer;
}
.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 350px;
}
.container p {
    margin-bottom: 2px;
}
input {
    font-size: 20px;
    padding-bottom: 4px;
    background-color: transparent;
    color: var(--light);
    border: none;
    border-bottom: 1px solid var(--light);
    font-family: 'IBM Plex Mono', monospace;

}
input:focus {
    outline: none;
}
.container .complete, .container .delete {
    opacity: 0;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.container:hover .complete, .container:hover .delete {
    opacity: 1;
}